* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  src: local("Georgia") url(../../assets/fonts/Georgia-Regular-font.woff)
      format(woff),
    url(../../assets/fonts/Georgia\ Regular\ font.woff2) format(woff2);
}
@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  src: local("Arial") url(../../assets/fonts/arial.woff2) format(woff2),
    url(../../assets/fonts/arial.woff) format(woff);
}
.wrapper {
  width: 100%;
}
body._lock {
  overflow: hidden;
}
.wrapper-header {
  background-color: #5b483a;
  padding: 60px 0 45px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
}
.header-logo {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.header-logo-main a {
  display: block;
  text-decoration: none;
  color: #f1cdb3;
}
.header-logo-main {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 126%;
  letter-spacing: 0.06em;
}

.header-logo-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.header-burger {
  display: none;
}
.list-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
  list-style-type: none;
}
.list-navigation_normal,
.list-navigation_active {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}
.list-navigation_active {
  border: 3px solid #f1cdb3;
  border-width: 0 0 3px 0;
}

.notOnly-wrapper {
  background-color: #5b483a;
  padding: 0;
}

.content-notOnly {
  display: flex;
  justify-content: space-between;
}
.notOnly-column {
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 42px;
  padding-top: 166px;
}
.notOnly-header h3 {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.notOnly-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  width: 460px;
}
.button_color {
  display: inline-block;

  width: 207px;
  height: 52px;
  left: calc(50% - 207px / 2 - 126.5px);
  bottom: 0px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: #292929;
}
.button_color:hover {
  background: #d5a583;
}
.button_color span {
  display: block;
  margin: 15px 0px 0px 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.about-wrapper {
  background: #ffffff;
}
.about-container {
  margin: 80px 40px 100px;
}
.content-about {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.about-block {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-header h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about-paragraf1,
.about-paragraf2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  text-align: justify;
}
.ourFriends-wraper {
  margin: 0 auto;
  background: #f6f6f6;
}
.ourFriends-content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.ourFriends-container {
  margin-top: 80px;
  margin-bottom: 100px;
}
.ourFriends-header h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.ourFriends-cards {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.ourFriends-cards::before,
.ourFriends-cards::after {
  content: " ";
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  top: 1924px;
}
.ourFriends-cards::before {
  left: 38px;
  background: url(../../assets/icons/Arrow-left.png) center no-repeat;
}
.ourFriends-cards::after {
  right: 38px;
  background: url(../../assets/icons/Arrow-right.png) center no-repeat;
}

.cards-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 270px;
  background: #fafafa;
  padding-bottom: 10px;
}
.petsName {
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.button_withBorder {
  display: inline-block;
  margin: 0 auto;
  width: 187px;
  height: 52px;
  left: calc(50% - 187px / 2 - 126.5px);
  bottom: 0px;
  background: #fafafa;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;

  text-decoration: none;
  color: #292929;
}
.button_withBorder:hover {
  background: #d5a583;
}
.button_withBorder span {
  margin: 0 auto;
  display: block;
  margin-top: 8px;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.ourFrends__button_withBorder {
  text-align: center;
}
.ourFriends-button-color {
  width: 261px;
  display: inline-block;

  height: 52px;
  left: calc(50% - 207px / 2 - 126.5px);
  bottom: 0px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: #292929;
}
.ourFriends-button {
  margin-top: 16px;
}

.ourFriends-button-color:hover {
  background: #d5a583;
}
.ourFriends-button-color span {
  display: block;
  margin: 15px 0px 0px 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.help-wrapper {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 100px;
}
.help-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}
.help-header h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.help__grid {
  max-width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}
.itemHelp__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  row-gap: 30px;
  max-width: 100%;
  height: 113px;
}
.help__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.inAddition-content {
  margin: 0 auto;
  width: 915px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  column-gap: 30px;
  padding-bottom: 89px;
}
.inAddition-wrapper {
  padding-top: 30px;
  padding-bottom: 0px;
  background: #f6f6f6;
}
.inAddition__text h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.inAddition_sentense {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}
.inAddition__paragraf {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  align-items: center;

  color: #b2b2b2;
}

.inAddition__text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.inAddition__button_color {
  display: inline-block;
  width: 349px;
  height: 43px;
  left: calc(50% - 349px / 2 - 126.5px);
  bottom: 0px;
  background: #f1cdb3;
  border-radius: 9px;
  border: none;
  text-decoration: none;
}
.inAddition__button_color:hover {
  background: #d5a583;
}
.inAddition__button_color a {
  display: block;
  margin: 15px 0px 0px 44px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.inAddition__text_image {
  display: block;
  padding: 9px 2px 1px 12px;
}
.inAddition__paragraf {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}

.footer-wrapper {
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}
.header__light {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
}
.footer__information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  column-gap: 160px;
}
.footer__ikonInformation {
  margin-right: 20px;
}

.footer__informationText {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.footer__informationText p a {
  text-decoration: none;
  color: #f1cdb3;
}
@media (max-width: 1280px) {
  .notOnly-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .container {
    width: auto;
    margin: 0 35px 0 45px;
  }
  .about-container {
    width: auto;
    margin: 80px 40px 100px;
  }
  .ourFriends-container {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}
@media (max-width: 1140px) {
  #woody {
    display: none;
  }
  .ourFriends-cards {
    gap: 40px;
  }
  .ourFriends-cards::before,
  .ourFriends-cards::after {
    top: 2524px;
  }
}
@media (max-width: 669px) {
  #jennifer {
    display: none;
  }
  .ourFriends-cards::before {
    left: 65px;
    top: 2405px;
    background: url(../../assets/icons/Arrow-left.png) center no-repeat;
  }
  .ourFriends-cards::after {
    right: 65px;
    top: 2405px;
    background: url(../../assets/icons/Arrow-right.png) center no-repeat;
  }
  .ourFriends-header h3 {
    max-width: 100%;
    font-size: 25px;
  }
  .ourFriends-container {
    margin: 60px 10px 30px;
  }
  .ourFriends-content {
    gap: 39px;
  }
  .ourFriends-button {
    margin-top: 96px;
  }
}

@media (max-width: 880px) {
  .container {
    width: auto;
    margin: 0 23px 0 28px;
  }
  .wrapper-header {
    padding: 31px 0 0px;
  }
  .about-container {
    width: auto;
    margin: 67px 22px;
  }
  .ourFriends-container {
    margin-top: 111px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1080px) {
  .content-notOnly {
    flex-direction: column;
    align-items: center;
  }
  .notOnly-column {
    padding-top: 43px;
  }
  .notOnly-button {
    padding-left: 121px;
  }
  .notOnly-image img {
    max-width: 80%;
    max-height: 100%;
    object-fit: cover;
    padding: 100px 0 0 128px;
  }
  .content-about {
    flex-direction: column-reverse;
    align-items: center;
    gap: 77px;
  }
  .inAddition-content {
    max-width: 100%;
    flex-direction: column-reverse;
    padding-top: 50px;

    row-gap: 47px;
  }
  .inAddition__text h3 {
    display: inline-block;
  }
  .inAddition__text {
    width: 380px;
  }
  .inAddition-wrapper {
    padding-top: 21px;
  }
  .footer__container {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .container {
    width: auto;
    margin: 0 52px 0 9px;
  }
  .wrapper-header {
    padding: 31px 0 45px;
  }
  .ourFriends-container {
    margin: 31px 10px 00px;
    padding-bottom: 46px;
  }
  .help-container {
    margin-right: 10px;
  }
  .footer-container {
    margin-right: 10px;
  }
}
@media (max-width: 550px) {
  .notOnly-header h3 {
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .notOnly-text {
    width: auto;
    text-align: center;
  }
  .notOnly-button {
    padding-left: 0px;
  }
  .notOnly-image img {
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
    padding: 89px 0 0 45px;
  }
  .container-notOnly {
    width: auto;
    margin: 0 14px 0 9px;
  }
  .content-notOnly {
    align-items: center;
    justify-content: center;
  }
  .notOnly-column {
    align-items: center;
    padding-top: 0px;
  }
  .about-container {
    width: auto;
    margin: 43px 22px;
  }
  .about-header h3 {
    font-size: 25px;
  }
  .content-about {
    text-align: center;
    gap: 40px;
  }
  .about-block {
    text-align: center;
  }
  .about-image img {
    max-width: 95%;
  }
  .help-header h3 {
    font-size: 25px;
  }
  .itemHelp__grid {
    height: 87px;
    row-gap: 6px;
  }

  .help__grid {
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start;
  }

  .help-wrapper {
    padding-top: 34px;
    padding-bottom: 71px;
  }
  .help-content {
    row-gap: 21px;
  }
  .inAddition__text h3 {
    font-size: 25px;
  }
  .inAddition__text {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
  .inAddition-container {
    margin-right: 10px;
  }
  .inAddition-content {
    padding-top: 9px;
  }
  .inAddition__text_image {
    width: 80%;
  }
  .inAddition__button_color {
    width: 281px;
    height: 43px;
    left: calc(50% - 349px / 2 - 126.5px);
    bottom: 0px;
    background: #f1cdb3;
    border-radius: 9px;
    border: none;
    text-decoration: none;
  }
  .inAddition__button_color:hover {
    background: #d5a583;
  }
  .inAddition__button_color img {
    display: block;
    margin: 4px 0px 0px 0px;

    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    overflow: hidden;
  }
  .inAddition__image img {
    max-width: 93%;
  }
  .inAddition-wrapper {
    padding-bottom: 0px;
  }
  .header__light {
    font-size: 25px;
    text-align: center;
  }
  .footer__container {
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
    cursor: pointer;
  }
  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    background-color: #f1cdb3;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: " ";
    top: 0;
  }
  .header__burger::after {
    content: " ";
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
    transform: rotate(90deg);
  }
  .header__burger._active::after {
    bottom: 45%;
    transform: rotate(90deg) translateY(9px);
  }
  .header__burger._active::before {
    top: 45%;
    transform: rotate(90deg) translateY(-9px);
  }

  .header-navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 823px;
    background-color: #292929;
    padding: 158px 0px 30px 0px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header-navigation._active {
    right: 0;
  }
  .list-navigation {
    flex-direction: column;
    row-gap: 40px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #cdcdcd;
  }
  .header-logo {
    z-index: 5;
  }
}
